<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.svg.etu.location.LocationDAO">
    <select id="getLocation" resultType="com.svg.etu.location.LocationVO">
    	select *
    	from location
    	where 1 = 1
    	<if test="country != null">
    		and country = #{country}
    	</if> 
    	<if test="sido != null">
    		and sido = #{sido}
    	</if>
    	<if test="sigugun != null">
    		and sigugun = #{sigugun}
    	</if>
    	limit 1
    </select>
</mapper>