<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.svg.etu.user.UserDAO">
    <select id="getUser" resultType="com.svg.etu.user.UserVO">
    	select *
    	from user
    	where id = #{id}
    </select>

	<select id="findByEmail" parameterType="string" resultType="com.svg.etu.user.UserVO">
		select *
		from user
		where email = #{email}
	</select>

    <insert id="insertUser">
    	insert into user(social_type, img, nick_name, email, location, steps, created_at)
    	values(#{social_type}, #{img}, #{nick_name}, #{email}, #{location}, 0, now())
    </insert>
    
    <update id="updateUser">
    	update user set
    	img = img,
    	nick_name = nick_name
    	where id = #{id}
    </update>
    
    <delete id="deleteUser">
    	delete user
    	where id = #{id}
    </delete>
</mapper>